<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>Hola equipo de Chilisites,</p>
        <p>&nbsp;</p>
        <p>Has recibido un nuevo mensaje de {{fromName}}:</p>
        <p>&nbsp;</p>
        <p>Nombre: {{fromName}}</p>
        <p>Correo electr&oacute;nico: {{fromEmail}}</p>
        <p>Tel&eacute;fono: {{fromPhone}}</p>
        <p>Tipo de proyecto: {{fromType}}</p>
        <p>Suscrito a newsletter: {{fromSubscriptionStatus}}</p>
        <p>Mensaje:</p>
        <p><span style="color: #e03e2d">{{fromMessage}}&nbsp;</span></p>
        <p>&nbsp;</p>
        <p>Saludos,</p>
        <p>Formulario de contacto - Chilisites</p>
    </body>
</html>
