<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
    </head>
    <body>
      <style>
          ul {
            list-style-type: none;
          } 
          ul li a {
            text-decoration: none;
          }
        </style>
        <p>Hola <strong>{{fromName}}</strong>,</p>
        <p>&iexcl;Gracias por tu mensaje! 🙌 En Chilisites, valoramos mucho tu inter&eacute;s y nos encanta saber de ti. Tu opini&oacute;n es importante para nosotros, y te responderemos a la brevedad.</p>
        <p>Nuestros antiguos clientes son muy importantes para nosotros. ❤️ Si vienes recomendado por alguien, &iexcl;h&aacute;znoslo saber! Siempre es un placer conocer a nuevos amigos a trav&eacute;s de recomendaciones.</p>
        <p>Adem&aacute;s, si no has recibido noticias nuestras en 24 horas en tu correo <strong><span style="color: #e03e2d;">{{fromEmail}}</span></strong>, &iexcl;no dudes en reclamar un 5% de descuento en tu pr&oacute;xima compra! 🎉 Estamos aqu&iacute; para ayudarte en todo lo que necesites.</p>
        <p>Si tienes alguna pregunta o inquietud mientras esperas nuestra respuesta, no dudes en volver a escribirnos. Nos encanta estar en contacto y hacer que tu experiencia con nosotros sea excepcional.</p>
        <p>Por eso te dejamos nuestro whatsapp al cual puedes escribirnos cuando quieras:&nbsp;</p>
        <ul>
            <li><a href="https://wa.me/56965669585" target="_blank" rel="noopener"><img src="./img/whatsapp-brands.png" height="18" /> Marketing Digital</a></li>
            <li><a href="https://wa.me/56984138467" target="_blank" rel="noopener"><img src="./img/whatsapp-brands.png" height="18" /> Desarrollo Web</a></li>
        </ul>
        <p>Gracias nuevamente por elegir Chilisites. Tu apoyo significa el mundo para nosotros. 🌎</p>
        <p>Saludos cordiales,</p>
        <p>--<br />Equipo de <strong>Chilisites</strong> 😎</p>
        <img src="./img/logo-chilisites-fondo-solido.png" height=80>
        <p>--</p>
        <p style="color: #e03e2d;">*Mensaje recibido:</p>
        <p><span style="color: #e03e2d;">{{fromMessage}}</span></p>
    </body>
</html>